QWidget{
	background-color: #333333;
	color: #ffffff;
	border-color: #051a39;
}

QWidget::disabled{
	background-color: #3a3a3a;
	color: #666666;
}

QPushButton{
	background-color: #444444;
	border: 0;
	padding: 5px;
}

QLineEdit{
	background-color: #444444;
	border: 0;
	padding: 3px;
}

QPushButton::hover{
	background-color: #666666;
}

QTreeWidget{
	background-color: #252525;
}

QListWidget{
	background-color: #252525;
}

QListWidget::item:selected{
	background-color: #116cb8;
}